* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profilePage {
    width: 100%;
    height: 1200px;
    font-family: "DroidArabicKufi", "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.profileTopImg {
    width: 100%;
    height: 260px;
    background-image: url(../images/profileBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
}

.profilebottom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33699e11;
}

.profileLeftNav {
    margin-top: -35%;
    width: 36%;
    height: 1000px;
    /*  background-color:yellow;*/
    padding-top: 3%;
    padding-left: 4%;
}

.profileRightNav {
    margin-top: -35%;
    width: 66%;
    height: 1000px;
    /*  background-color:blue;*/
    padding-top: 3%;
    padding-left: 0%;
    padding-right: 0%;
}

.profileLeftBox {
    width: 93%;
    height: 30%;
    background-color: white;
    margin-bottom: 10%;
    box-shadow: 0px 2px 2px 1px rgba(128, 128, 128, 0.549);
    text-align: center;
    display: block;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 8%;
    font-family: "DroidArabicKufi", "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.profileLeftBox1 {
    width: 93%;
    height: 20%;
    background-color: white;
    margin-bottom: 10%;
    box-shadow: 0px 2px 2px 1px rgba(128, 128, 128, 0.549);
}

.profileLeftBox2 {
    width: 93%;
    height: 11%;
    background-color: white;
    margin-bottom: 10%;
    box-shadow: 0px 2px 2px 1px rgba(128, 128, 128, 0.549);
}

.profileLeftBox3 {
    width: 93%;
    height: 29%;
    background-color: white;
    margin-bottom: 10%;
    box-shadow: 0px 2px 2px 1px rgba(128, 128, 128, 0.549);
}

.profileLeftBox4 {
    width: 93%;
    height: 14%;
    background-color: white;
    margin-bottom: 10%;
    box-shadow: 0px 2px 2px 1px rgba(128, 128, 128, 0.549);
}

.leftBoxInfos {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    font-size: 15px;
    font-weight: 500;
    padding-right: 2%;
    border-bottom: 1px solid gray;
}

.rightBoxInfos {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 3%;
    font-size: 15px;
    font-weight: 500;
    padding-right: 2%;
    border-bottom: 1px solid gray;
}

.leftBoxSec {
    width: 100%;
    height: auto;
    display: block;
    justify-content: left;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
    font-weight: 500;
}

.leftBoxSec2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
    font-size: 18px;
    font-weight: 500;
}

.rightBoxSec2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4%;
    font-size: 18px;
    font-weight: 500;
}

.righteducate {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    padding: 4%;
    font-size: 18px;
    font-weight: 500;
}

.educateContent {
    width: 60%;
    height: auto;
    padding-left: 10%;
}

.educateCover {
    width: 100%;
    display: flex;
    justify-content: center;
}

.educateCover:hover {
    background-color: rgba(128, 128, 128, 0.149);
}

.penButton {
    width: 40%;
    height: 88.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profImgTop {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1%;
}

#ImgName {
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 6px;
}

#ImgText {
    color: rgb(97, 97, 97) !important;
    font-size: 15.5px;
    margin: 0;
}

#ImgName2 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 10px;
}

#ImgText2 {
    color: rgb(97, 97, 97) !important;
    font-size: 18px;
    margin-bottom: 20px;
}

.profileMainImg {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.leftBoxSecItem {
    display: flex;
    justify-content: left;
    margin-bottom: 8%;
}

.infoCircle {
    width: 4%;
    height: 30%;
    background-color: #33689e !important;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 7px;
    font-weight: 500;
}

.infoCircle2 {
    width: 4%;
    height: 42%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #33689e !important;
    font-size: 20px;
    font-weight: 500;
}

.changeImg {
    background: none;
    outline: none;
    border: none;
    margin-left: auto;
    margin-right: 2%;
    font-size: 16px;
    font-weight: 500;
    color: green;
}

.changeImg:hover {
    cursor: pointer;
    color: #33699ec4;
}

.editBtn {
    background: none;
    outline: none;
    border: none;
    margin-left: auto;
    margin-right: 2%;
    font-size: 16px;
    font-weight: 500;
    color: green;
}

.editBtn2 {
    background: none;
    outline: none;
    border: none;
    margin-left: auto;
    margin-right: 2%;
    font-size: 18px;
    font-weight: 500;
    color: green;
}

.editBtn:hover {
    cursor: pointer;
    color: #33699ec4;
}

.editBtn2:hover {
    cursor: pointer;
    color: #33699ec4;
}

#leftBoxHeads {
    color: #33689e !important;
    font-size: 19px;
    font-weight: 500;
    padding-top: 2%;
}

#leftBoxSubHead {
    font-size: 15px;
    font-weight: 500;
    margin-left: 12%;
    margin-bottom: 0;
    line-height: 1;
}

#leftBoxSubHeadLink {
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    margin-left: 12%;
    overflow: hidden;
}

#leftBoxSubHeadLink2 {
    font-size: 15px;
    font-weight: 400;
    margin-left: 12%;
    line-height: 0;
    margin-bottom: 0;
    color: green;
    text-decoration: underline;
}

#leftBoxSubHead2 {
    font-size: 18px;
    font-weight: 400;
    margin-left: 2%;
    color: green;
}

#rightBoxSubHead2 {
    font-size: 18px;
    font-weight: 400;
    margin-left: 0%;
    color: green;
}

#rightBoxSubHead2:hover {
    cursor: pointer;
    color: #33699ec4;
}

#leftBoxSubHead2:hover {
    cursor: pointer;
    color: #33699ec4;
}

#leftBoxSubHeadLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.profileRightBox {
    background-color: white;
    width: 95%;
    height: 150px;
    margin-bottom: 5%;
    box-shadow: 0px 2px 2px 1px rgba(128, 128, 128, 0.549);
}

.profileRightBox3 {
    background-color: white;
    width: 95%;
    height: 250px;
    margin-bottom: 5%;
    box-shadow: 0px 2px 2px 1px rgba(128, 128, 128, 0.549);
}
.profileRightBox4 {
    background-color: rgba(128, 128, 128, 0.19);
    width: 95%;
    height: 50px;
    margin-bottom: 5%;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.big {
    font-size: 22px;
}

.pen {
    color: green;
    font-size: 15px;
    cursor: pointer;
}

.pen:hover {
    color: #33699ec4;
}

.ip100{
    padding-left: 40px;
    display: block;
}


.ip1100{
    padding-left: 40px;
    margin-bottom: 60px;
    display: inline-block;
    /* float: left; */
}

.ip1100 label{
    color:#1c55b0;
    font-size: 14px;
    font-weight: 600;
}
.ip1100 select{
    width: 150px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid rgb(179, 179, 179);
}


.ip1000{
    padding-left: 40px;
    display: block;
}

.ip1000 label{
    color:#1c55b0;
    font-size: 14px;
    font-weight: 600;
}
.ip1000 input{
    width: 80%;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid rgb(179, 179, 179);
}
.modal_content {
    background-color: #fefefe;
    /* margin: 15% auto; 15% from the top and centered */
    /* padding: 20px; */
    /* border: 1px solid #888; */
    height: 500px;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;

    /* width: 80px; Could be more or less, depending on screen size */
  }

/* Modal Content/Box */
.modal_content1 {
    background-color: #fefefe;
    /* margin: 15% auto; 15% from the top and centered */
    /* padding: 20px; */
    /* border: 1px solid #888; */
    height: 450px;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;

    /* width: 80px; Could be more or less, depending on screen size */
  }

  .ip11{
    padding-left: 40px;
    margin-top: 10px;
    display: inline-block;
    /* float: left; */
}

.ip11 label{
    color:#1c55b0;
    font-size: 14px;
    font-weight: 600;
}
.ip11 select{
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid rgb(179, 179, 179);
}

.para11
{
    display: inline-block;
    margin-right: 50px;
}
.textskills
{
    border: none;
    outline: none;
    border-bottom: 2px solid lightblue;
}
.ip112
{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 110px;
}
.textdf
{
    border: none;
    border-bottom: 2px solid lightgray;
}
.nameOfInstitute{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nameOfInstitute input{
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.41);
}

.nameOfInstitute input:focus{
    border-bottom: 2px solid #1c55b0;
}

.startEndYear{  
    display: flex;
    justify-content: center;
    margin: 10px;
}

#send_from{
    width: 37%;
    margin: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.41);
}

#send_from:focus{
    border-bottom: 2px solid #1c55b0;
}

.degreeDepartment{
    display: flex;
    margin: 10px;
    justify-content: center;
    
}

.degreeDepartment input{
    width: 38%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.41);
    margin: 15px;
}

.degreeDepartment input:focus{
    border-bottom: 2px solid #1c55b0;
}

.workexp
{
    margin-left: 60px;
}
.jobtitle
{
    font-size: 18px;
    font-weight: 550;
    font-family: sans-serif;
}
.company
{
    text-decoration: underline;
    color: rgb(44, 156, 34);
    font-weight: 600;
    font-size: 18px;
}
.duration
{
    color: gray;
}